services:
  media_metadata_api:
    build: api
    container_name: media_metadata_api
    ports: 
      - "3002:3002"
    image: lucas42/lucos_media_metadata_api
    volumes:
      - "db:/var/lib/media-metadata/"
      - "exports:/var/lib/exports/"
    restart: always
    environment:
      - CLIENT_KEYS
      - LOGANNE_ENDPOINT
      - RDF_OUTPUT_PATH=/var/lib/exports/all-media.ttl
  exporter:
    build: exporter
    container_name: media_metadata_api_exporter
    image: lucas42/lucos_media_metadata_api_exporter
    volumes:
      - db:/data:ro
      - exports:/exports
    restart: always
    environment:
      - SQLITE_DB_PATH=/data/media.sqlite
      - RDF_OUTPUT_PATH=/exports/all-media.ttl

volumes:
  db:
  exports: