services:
  media_metadata_api:
    build: .
    container_name: media_metadata_api
    ports: 
      - "3002:3002"
    image: lucas42/lucos_media_metadata_api
    volumes:
      - "db:/var/lib/media-metadata/"
    restart: always
    environment:
      - CLIENT_KEYS
      - LOGANNE_ENDPOINT

volumes:
  db: