services:
  api:
    build:
      dockerfile: api/Dockerfile
      context: . # Use root context, so rdfgen can be pulled in
    container_name: media_metadata_api
    ports: 
      - $PORT:$PORT
    image: lucas42/lucos_media_metadata_api
    volumes:
      - "db:/var/lib/media-metadata/"
      - "exports:/var/lib/exports/"
    restart: always
    environment:
      - CLIENT_KEYS
      - LOGANNE_ENDPOINT
      - RDF_OUTPUT_PATH=/var/lib/exports/all-media.ttl
      - MEDIA_METADATA_MANAGER_ORIGIN=https://media-metadata.l42.eu
      - PORT
  exporter:
    build:
      dockerfile: exporter/Dockerfile
      context: . # Use root context, so rdfgen can be pulled in
    container_name: media_metadata_api_exporter
    image: lucas42/lucos_media_metadata_api_exporter
    volumes:
      - db:/data:ro
      - exports:/exports
    restart: always
    environment:
      - SQLITE_DB_PATH=/data/media.sqlite
      - RDF_OUTPUT_PATH=/exports/all-media.ttl
      - SCHEDULE_TRACKER_ENDPOINT
      - MEDIA_METADATA_MANAGER_ORIGIN=https://media-metadata.l42.eu

volumes:
  db:
  exports: