[Service]
ExecStart=/web/lucos/go/bin/lucos_media_metadata_api
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=lucos_media_metadata_api
User=lucos
Group=lucos
Environment=PORT=3002
WorkingDirectory=/web/lucos/go/src/github.com/lucas42/lucos_media_metadata_api

[Install]
WantedBy=multi-user.target