version: 2.1
orbs:
  lucos: lucos/deploy@0
jobs:
  test:
    docker:
      - image: cimg/go:1.25
    environment:
      GO111MODULE: auto
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: go get ./...
      - run:
          name: Unit Tests
          command: go test ./... -coverprofile=coverage.out
      - run:
          name: Generate Code Coverage
          command: go tool cover -html=coverage.out -o coverage.html
      - store_artifacts:
          path: coverage.html

workflows:
  version: 2
  build-deploy:
    jobs:
      - test
      - lucos/build-amd64
      - lucos/deploy-avalon:
          serial-group: << pipeline.project.slug >>/deploy-avalon
          requires:
            - test
            - lucos/build-amd64
          filters:
            branches:
              only:
                - main