version: 2.1
jobs:
  test:
    docker:
      - image: circleci/golang:1
    working_directory: /go/src/github.com/lucas42/lucos_media_metadata_api
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: go get ./...
      - run:
          name: Unit Tests
          command: go test
  build:
    environment:
      IMAGE_NAME: lucas42/lucos_media_metadata_api
    docker:
      - image: circleci/buildpack-deps:buster
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: docker build -t $IMAGE_NAME:latest .
      - run:
          name: Publish Docker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASSWORD" | docker login --username "$DOCKERHUB_USERNAME" --password-stdin
            docker push $IMAGE_NAME:latest
  deploy:
    docker:
      - image: circleci/buildpack-deps:buster
    steps:
      - run:
          name: Deploy using docker-compose
          command: docker-compose --version
workflows:
  version: 2
  build-deploy:
    jobs:
      - test
      - build:
          context: docker
      - deploy:
          context: docker
          requires:
            - test
            - build